@charset "UTF-8";
/*-----------------------------------------------------------------------------
 [TABLE OF CONTENTS]
    +wrapper
        +header
            =nav
-----------------------------------------------------------------------------*/
/* +header
*----------------------------------------------------------------------------*/
/**
 *
 * =nav
 *
 **/
#nav {
    /*float: left;*/
    z-index: 300;
    width: 1000px;

    font-size: 13px;
    background: url(../img/bg-nav.gif) repeat-x;
    line-height: 25px;
    padding:0;
    margin:0;
}
#nav ul {
    padding: 0 0 0 3px;
    list-style: none;
}
#nav ul li {
    float: left;
    width: 85px;
    text-align: center;
}
#nav ul li a:hover {
    text-decoration:none;
}
#nav ul li.add {
    width: 88px;
}
#nav ul li.more {
    width: 49px;
}
#nav ul li.more div {
    z-index: 300;
    position: absolute;
    right: 0;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    border: 1px solid #5970B2;
}
#nav ul li.more div a {
    z-index: 300;
    position: relative;
    display: block;
    margin: 0;
    padding: 4px 10px;
    width: auto;
    height: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #FFFFFF;
    color: #2875DE;
    font: 13px arial
}
#nav ul li.more div a:hover {
    z-index: 300;
    height: auto;
    display: block;
    background: #49A3FF;
    color: #FFFFFF;
}
#nav ul li a {
    display: block;
    height: 41px;
    background: url(../img/btn-nav-link-l.gif) no-repeat left;
}
#nav ul li a span {
    display: block;
    height: 31px;
    padding: 10px 5px 0 5px;
    color:#fff;
    background: url(../img/btn-nav-link-r.gif) no-repeat right;
}
#nav ul li.active a,
#nav ul li a:hover,
#nav ul li.active {
    display: block;
    height: 41px;
    background: url(../img/btn-nav-l.gif) no-repeat left;
    cursor: pointer;
}
#nav ul li.active a span,
#nav ul li a:hover span,
#nav ul li.active span {
    display: block;
    height: 31px;
    padding: 10px 5px 0 5px;
    color:#000;
    background: url(../img/btn-nav-r.gif) no-repeat right;
}
#more li ul{
    z-index: 300;
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    border: 1px solid #5970B2
}
#more li ul li{
    z-index: 300;
    float: none;
    height: auto;
    display: inline
}
#more li ul li a{
    z-index: 300;
    position: absolute;
    display: block;
    margin: 0;
    padding: 4px 10px;
    width: auto;
    height: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #FFFFFF;
    color: #2875DE;
    font: 15px arial;
}
#more li ul li a:hover{
    z-index: 300;
    height: auto;
    display: block;
    background: #49A3FF;
    color: #FFFFFF;
}
#nav .subnav {
    float: left;
    width: 1000px;
    height: 28px;
    background: url(../img/bg-nav-ft.gif) repeat-x;
    line-height: 18px;
    *line-height: 28px;
    z-index: 300;
}
#nav .subnav ol {
    padding: 0 0 0 5px;
}
#nav .subnav ol li {
    display: inline;
    padding: 0 6px 0 0;
    *padding: 0 4px 0 0;
    margin: 0 1px 0 0;
    *margin: 0 5px 0 0;
    font: 12px/28px Arial, Helvetica, sans-serif;
    color: #00ac92;
    background: url(../img/bg-nav-ft-l.gif) no-repeat right center;
}
#nav .subnav ol li a {
    color: #00ac92;
}
#nav .subnav ol li a:hover {
    color: #ff6600;
}
#nav .subnav ol li.active {
    color: #ff6600;
}
#nav .subnav ol li.title {
    font: bold 12px/28px Arial, Helvetica, sans-serif;
    letter-spacing : -1px;
    color: #8c8c8c;
    background: none;
    padding: 0;
    margin: 0;
}
#nav .subnav ol li.moreadd {
    font: 12px/28px Arial, Helvetica, sans-serif;
    background: url(../img/icon-subnav-add.gif) no-repeat 0 3px;
    padding: 0 0 0 12px;
    margin: 0;
}