table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

td, th {
	border: 1px solid black;
	padding: 0.5em;
	overflow: hidden;
}

td img {
	max-width: 300px;
	max-height: 200px;
	overflow: hidden;
}

.layout-content {
}

.title {
	width: 50%;
}

.white-popup {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 700px;
	margin: 20px auto;
}

.gallery {
	display: none;
	float: left;
	width: 800px;
}

.gallery div {
	margin: 0 5px 5px 0;
	float: left;
}

.dnd_zone {
	float: left;
}

.dnd_zone div {
	color: #bbb;
	border: 2px dashed #bbb;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	width: 300px;
	height: 200px;
	padding: 25px;
	margin: 0 20px 20px 0;
}

#edm_operation {
	display: none;
}

#edm_thumbnail_setup {
	max-width: 1200px;
	max-height: 600px;
	overflow-y: scroll;
}