body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
margin:0;padding:0;font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif}
table {border-collapse:collapse;border-spacing:0;}
fieldset, img {	border:0;}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal;	font-weight:normal;}
ol, ul {list-style:none;}
caption, th {text-align:left;}
/*h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}*/
q:before, q:after {content:'';}
abbr, acronym {border:0;}
/* reset end*/


/* header */
.header{ width:100%; height:63px;}
.header .top{ width:1000px; margin:0 auto; }
.header .top h1{ width:205px; height:50px; float:left; }
.header .top .nav {  float:right;padding-top:10px;}
.header .top .nav ul{ }
.header .top .nav ul li{ float:left;  border-right:1px solid #999; padding-right:10px;padding-left:10px;}
.header .top .nav ul li a{  color:#999; text-decoration:none; font:15px/15px "微軟正黑體",Arial, Helvetica, sans-serif;}
.header .top .nav ul li a:hover{ color:#CCC; text-decoration:none; font:15px/15px "微軟正黑體",Arial, Helvetica, sans-serif;}
.header .top .nav ul li.last{  border-right:none; padding-right:10px;padding-left:10px;}
.header .top .nav ul li.last a{  color:#999; text-decoration:none; font:15px/15px "微軟正黑體",Arial, Helvetica, sans-serif;}
.header .top .nav ul li.last a:hover{ color:#CCC; text-decoration:none; font:15px/15px "微軟正黑體",Arial, Helvetica, sans-serif;}
/* header end */


/* article */
.article{ width:100%;background:#E6E6E6;  clear:both; margin-bottom:30px;}
.article .content{ width:1000px; margin:0 auto; height:230px;}
.article .content .space{  float:left; padding-top:50px; }
.article .content .right_content{ margin-left:230px;}
.article .content .right_content ul.content_title{ padding-top:50px; width:100%; }
.article .content .right_content ul.content_title li{ width:40%; float:left; color:#F55C4F; font:24px/24px "微軟正黑體",Arial, Helvetica, sans-serif; font-weight:bold;}
.article .content .right_content ul.content_title li.last{ width:60%; text-align:right; color:#838383; font:16px/16px "微軟正黑體",Arial, Helvetica, sans-serif; font-weight:normal;}
.article .content h2{ width:600px; color:#464646; float:left;  font:28px/35px "微軟正黑體",Arial, Helvetica, sans-serif; padding-top:10px;}
.article .content h2 a{ color:#464646; text-decoration:none;}
.article .content h2 a:hover{ color:#737373; }
.article .content span.date{  display:block; color:#999; font:16px/16px "微軟正黑體",Arial, Helvetica, sans-serif; float:right; }
.article .content span{display:block;  color:#838383; font:16px/16px "微軟正黑體",Arial, Helvetica, sans-serif; padding-top:10px;}
.article .content span.last{ display:block; color:#fff; font:16px/16px "微軟正黑體",Arial, Helvetica, sans-serif; padding-top:110px; float:right; }
.article .content span.last a{ color:#3DB4CA; text-decoration:none; }
.article .content span.last a:hover{color:#00D7FF;  }
/* article end */


/* article01 */
.article01{ width:100%;background:#fff; }
.article01 .content01{ width:1000px; margin:0 auto; }
.article01 .content01 .sub_content{ width:480px; height:65px; float:left; margin:20px 0; }
.article01 .content01 .sub_content .space{  float:left;padding-right:10px;}
.article01 .content01 .sub_content ul{ margin-bottom:25px; }
.article01 .content01 .sub_content ul li{ float:left; color:#F55C4F; font:16px/16px "微軟正黑體",Arial, Helvetica, sans-serif; font-weight:bold;}
.article01 .content01 .sub_content ul li.last{ float:right; color:#838383; font:16px/16px "微軟正黑體",Arial, Helvetica, sans-serif; font-weight:normal;}
.article01 .content01 .sub_content h3{ width:240px; color:#464646; float:left;  font:18px/22px "微軟正黑體",Arial, Helvetica, sans-serif;}
.article01 .content01 .sub_content h3 a{ color:#464646; text-decoration:none;}
.article01 .content01 .sub_content h3 a:hover{ color:#737373; }
.article01 .content01 .sub_content span.date{  display:block; color:#999; font:16px/16px "微軟正黑體",Arial, Helvetica, sans-serif; text-align:right;  }
.article01 .content01 .sub_content span.last{ display:block; color:#fff; font:15px/15px "微軟正黑體",Arial, Helvetica, sans-serif; padding-top:30px;  }
.article01 .content01 .sub_content span.last a{ color:#3DB4CA; text-decoration:none; }
.article01 .content01 .sub_content span.last a:hover{color:#00D7FF;  }


p.border{ border-bottom:1px dashed #e1e1e1; width:1000px; float:left;}


.article01 .content01 .sub_content1{ width:480px; height:65px; margin:20px 0;float:right;}
.article01 .content01 .sub_content1 .space{  float:left;padding-right:10px;}
.article01 .content01 .sub_content1 ul{ margin-bottom:25px; }
.article01 .content01 .sub_content1 ul li{ float:left;  color:#F55C4F; font:16px/16px "微軟正黑體",Arial, Helvetica, sans-serif; font-weight:bold;}
.article01 .content01 .sub_content1 ul li.last{ float:right; color:#838383; font:16px/16px "微軟正黑體",Arial, Helvetica, sans-serif; font-weight:normal;}
.article01 .content01 .sub_content1 h3{ width:250px; color:#464646; float:left;  font:18px/22px "微軟正黑體",Arial, Helvetica, sans-serif;}
.article01 .content01 .sub_content1 h3 a{ color:#464646; text-decoration:none;}
.article01 .content01 .sub_content1 h3 a:hover{ color:#737373; }
.article01 .content01 .sub_content1 span.date{  display:block; color:#999; font:16px/16px "微軟正黑體",Arial, Helvetica, sans-serif; text-align:right;  }
.article01 .content01 .sub_content1 span.last{ display:block; color:#fff; font:15px/15px "微軟正黑體",Arial, Helvetica, sans-serif; padding-top:30px;  }
.article01 .content01 .sub_content1 span.last a{ color:#3DB4CA; text-decoration:none; }
.article01 .content01 .sub_content1 span.last a:hover{color:#00D7FF;  }
/* article end */


/* footer */
.footer{ width:100%; background:;clear:both; padding-top:30px; }
.footer .content02{ width:1000px; margin:0 auto;}
.footer .content02 .nav01{ float:right; width:723px; padding-left:60px;}
.footer .content02 .nav01 ul{ padding:20px 0; padding-bottom:10px; }
.footer .content02 .nav01 ul li{ display:inline;  border-right:1px solid #999; padding-right:10px;padding-left:10px;}
.footer .content02 .nav01 ul li a{  color:#999; text-decoration:none; font:15px/15px "微軟正黑體",Arial, Helvetica, sans-serif;}
.footer .content02 .nav01 ul li a:hover{ color:#CCC; text-decoration:none; font:15px/15px "微軟正黑體",Arial, Helvetica, sans-serif;}
.footer .content02 .nav01 ul li.last{  border-right:none; padding-right:10px;padding-left:10px;}
.footer .content02 .nav01 ul li.last a{  color:#999; text-decoration:none; font:15px/15px "微軟正黑體",Arial, Helvetica, sans-serif;}
.footer .content02 .nav01 ul li.last a:hover{ color:#CCC; text-decoration:none; font:15px/15px "微軟正黑體",Arial, Helvetica, sans-serif;}
.footer .content02 span{ display:block; margin-left:40px;  font:13px/13px "微軟正黑體",Arial, Helvetica, sans-serif; color:#8d8d8d; letter-spacing:1px;}
/* footer end */